* {
  box-sizing: border-box;
}

body {
  background-color: #9addee;
  color: #ffb300;
  font-family: 'Press Start 2P', cursive;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: fit-content;
}

#countdown {
  font-size: 15px;
  color: #f08fa0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#start button {
  font-size: 15px;
  height: 45px;
  width: 95px;
  background-color: #8d8ff3;
  color: #fde3a7;
  font-family: 'Press Start 2P', cursive;
  border-color: #8035bd;
}

#card-one {
  background-color: #45cded;
  color: whitesmoke;
  height: 300px;
  width: 200px;
  border-style: none;
  border-radius: 12px;
  background-size: 200px;
}
